
.labelContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.backBtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.labelItem{
    margin-bottom: 20px;
}

.labelBtn{
    margin-top: 40px;
}

.festivalDropdown{
    margin-top: 60px;
    margin-bottom: 30px;
}

.deleteContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.createShowLabels{
    margin-top: 60px;
}